{
	"gradle_output_folder":"D:\\[DEV]\\[CODE]\\[WS-GDX]\\red-triplane-fokker-1.6.4",
	"assets_input":"D:\\[DATA]\\[RED-ASSETS]\\gdx-assets-packed",
	"input_workspace":"D:\\[DEV]\\[CODE]\\[WS-15]",
	"core":{
		"projects":[
			{
				"project_name":"jfixby-commons-api",
				"sources":[
					"jfixby-commons-api"
				]
			},
			{
				"project_name":"jfixby-commons-red",
				"sources":[
					"jfixby-commons-red"
				]
			},
			{
				"project_name":"red-triplane-api",
				"sources":[
					"red-triplane-api",
					"red-triplane-api-ext",
					"red-triplane-api-refactor"
				]
			},
			{
				"project_name":"red-triplane-fokker-api",
				"sources":[
					"red-triplane-fokker-api"
				]
			},
			{
				"project_name":"red-triplane-core",
				"sources":[
					"red-triplane-core",
					"red-triplane-ext"
				]
			},
			{
				"project_name":"red-triplane-fokker-core",
				"sources":[
					"red-triplane-fokker-core",
					"red-triplane-fokker-ext"
				]
			},
			{
				"project_name":"red-triplane-fokker-frontend",
				"sources":[
					"red-triplane-fokker-frontend"
				]
			},
			{
				"project_name":"red-triplane-fokker-gdx",
				"sources":[
					"red-triplane-fokker-gdx",
					"red-triplane-fokker-gdx-tools",
					"red-triplane-fokker-gdx-box2d"
				]
			},
			{
				"project_name":"tinto-ui",
				"sources":[
					"tinto-ui"
				]
			},
			{
				"project_name":"tinto-game",
				"sources":[
					"tinto-game"
				]
			},
			{
				"project_name":"tinto-api",
				"sources":[
					"tinto-api"
				]
			},
			{
				"project_name":"jfixby-util-filesystem-packing",
				"sources":[
					"jfixby-util-filesystem-packing"
				]
			},
			{
				"project_name":"jfixby-util-filesystem-packing-api",
				"sources":[
					"jfixby-util-filesystem-packing-api"
				]
			},
			{
				"project_name":"box2d-api",
				"sources":[
					"box2d-api"
				]
			},
			{
				"project_name":"box2d-red-double",
				"sources":[
					"box2d-red-double",
					"jbox2d-double"
				]
			},
			{
				"project_name":"red-triplane-fokker-backends",
				"sources":[
					"red-triplane-fokker-common"
				]
			},
			{
				"project_name":"red-triplane-fokker-core",
				"sources":[
					"red-triplane-fokker-core",
					"red-triplane-fokker-ext"
				]
			},
			{
				"project_name":"red-triplane-resource-fsbased",
				"sources":[
					"red-triplane-resource-fsbased"
				]
			},
			{
				"project_name":"jfixby-math-gwt",
				"sources":[
					"jfixby-math-gwt"
				]
			}
		]
	},
	"ios":{
		"projects":[
			{
				"project_name":"red-triplane-fokker-backends",
				"sources":[
					"red-triplane-fokker-ios"
				]
			}
		]
	},
	"android":{
		"projects":[
			{
				"project_name":"red-triplane-fokker-backends",
				"sources":[
					"red-triplane-fokker-android"
				]
			}
		]
	},
	"desktop":{
		"projects":[
			{
				"project_name":"red-triplane-fokker-backends",
				"sources":[
					"red-triplane-fokker-desktop"
				]
			},
			{
				"project_name":"jfixby-log-desktop",
				"sources":[
					"jfixby-log-desktop"
				]
			},
			{
				"project_name":"jfixby-filesystem-win",
				"sources":[
					"jfixby-filesystem-win"
				]
			},
			{
				"project_name":"jfixby-sys-desktop",
				"sources":[
					"jfixby-sys-desktop"
				]
			},
			{
				"project_name":"jfixby-math-desktop",
				"sources":[
					"jfixby-math-desktop"
				]
			},
			{
				"project_name":"jfixby-jutils-desktop",
				"sources":[
					"jfixby-jutils-desktop"
				]
			}
		]
	},
	"html":{
		
	}
}